NODE_ENV="dev"
DEV_PORT=4000
DATABASE_URL="postgresql://postgres:root@localhost:6532/main"
AUTH_SERVICE_URL=http://localhost:5200
PRIVATE_KEY="secret_private_key"
RECAPTCHA_SECRET_KEY="6Lf5R_giAAAAADfd76VNct_fiiyvPDXti7JP3pWD"
ADMIN_AUTH_SERVICE_URL=http://localhost:5200/admin/auth
ADMIN_PASSWORD_SERVICE_URL=http://localhost:5200/admin/password
PRIVATE_KEY="secret_private_key"
AWS_BUCKET_NAME="krauddonate161122"
AWS_BUCKET_REGION="eu-central-1"


